# Default ignored files
/../../Agriculture Data Analyser /.idea/shelf/
/../../Agriculture Data Analyser /.idea/workspace.xml
# Editor-based HTTP Client requests
/../../Agriculture Data Analyser /.idea/httpRequests/
# Datasource local storage ignored files
/../../Agriculture Data Analyser /.idea/dataSources/
/../../Agriculture Data Analyser /.idea/dataSources.local.xml
